{% extends "base.html" %}
{% load i18n %}

{% block title %}
Edit Profile
{% endblock %}

{% block content %}
<h3>Edit Profile</h3>
    <p>Nombre de usuario: {{ username }}</p>

    {% if form.errors %}
        <p style="color: red;">Please correct the error{{ form.errors|pluralize }} below.</p>
    {% endif %}

    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
{%endblock%}

{% block sidebar %}
<p>{% blocktrans %}You are on the profile page {% endblocktrans  %}</p>
{% endblock %}

{% block footer %}
<p><a href="/logout">{% trans "Logout" %}</a></p>
{% endblock %}